@page "/gemeinden"

@attribute [Authorize]
<PageTitle>Gemeinden</PageTitle>
<RadzenStack Gap="0">
    <RadzenRow AlignItems="AlignItems.Center" JustifyContent="Radzen.JustifyContent.Center"
        Style="height: 50px; padding-left: 16px; border-bottom: 1px dotted #dbdbdb">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Gemeinden · Bensheim-Auerbach" TextStyle="Radzen.Blazor.TextStyle.H4" TagName="TagName.H1"
                style="margin: 0; color: #535353" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" Style="height: 100%">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                JustifyContent="JustifyContent.End" Gap="0" Style="height: 100%">
                <RadzenButton Variant="Radzen.Variant.Text" Style="height: 100%; font-size: 16px; font-weight: lighter">
                    <RadzenIcon Icon="search" Style="font-size: 20px; margin-right: 5px"></RadzenIcon>
                    <span class="rz-button-text">Suchen</span>
                </RadzenButton>
                <RadzenButton Variant="Radzen.Variant.Text" Style="height: 100%; font-size: 16px; font-weight: lighter">
                    <RadzenIcon Icon="print" Style="font-size: 20px; margin-right: 5px"></RadzenIcon>
                    <span class="rz-button-text">Drucken</span>
                </RadzenButton>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>

<RadzenStack Gap="1rem">
    <RadzenTabs RenderMode="Radzen.TabRenderMode.Client" Style="padding-left: 5px; padding-top: 5px">
        <Tabs>
            <RadzenTabsItem Text="Allgemein">
                    <RadzenRow Style="margin-left: -21px; margin-top: -21px; margin-right: -16px">
                        <RadzenColumn Size="8">
            <RadzenTemplateForm TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Data="@gemeinden" Visible="@(gemeinden != null)" Submit="@FormSubmit">
              <RadzenStack>
                <RadzenFormField Text="Titel" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Titel" Name="Titel" />
                      </ChildContent>    
                      <Helper>
                        <RadzenRequiredValidator Component="Titel" Text="Titel is required" />
                      </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Zu Gemeinde Nr" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenNumeric style="display: block; width: 100%" @bind-Value="@gemeinden.ZuGemeindeNr" Name="ZuGemeindeNr" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Kürzel" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Kürzel" Name="Kürzel" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Straße" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Straße" Name="Straße" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="P L Z" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.PLZ" Name="PLZ" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Ort" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Ort" Name="Ort" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Telefon" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Telefon" Name="Telefon" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="E Mail" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.EMail" Name="EMail" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Internet" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Internet" Name="Internet" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Gegründet Am" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenDatePicker DateFormat="dd.MM.yyyy" style="display: block; width: 100%" @bind-Value="@gemeinden.GegründetAm" Name="GegründetAm" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Aufgelöst Am" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenDatePicker DateFormat="dd.MM.yyyy" style="display: block; width: 100%" @bind-Value="@gemeinden.AufgelöstAm" Name="AufgelöstAm" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Auflösung Info" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.AuflösungInfo" Name="AuflösungInfo" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Bezirk" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Bezirk" Name="Bezirk" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Großbezirk" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Großbezirk" Name="Großbezirk" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Sprachen" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Sprachen" Name="Sprachen" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Wegbeschreibung" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Wegbeschreibung" Name="Wegbeschreibung" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Gesprächsleitervorbereitung Tag" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.GesprächsleitervorbereitungTag" Name="GesprächsleitervorbereitungTag" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Gesprächsleitervorbereitung Zeit" Variant="Variant.Text">
                      <ChildContent>
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Gottesdienst Zeit" Variant="Variant.Text">
                      <ChildContent>
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Andacht Tag" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.AndachtTag" Name="AndachtTag" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Andacht Zeit" Variant="Variant.Text">
                      <ChildContent>
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Info" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@gemeinden.Info" Name="Info" />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Bundeslaender" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenDropDown Data="@bundeslaenderForBundeslandCode" TextProperty="Titel" ValueProperty="BundeslandCode" AllowClear=true
                              style="display: block; width: 100%" @bind-Value="@gemeinden.BundeslandCode" Name="BundeslandCode"
                               />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Gemeinden Arten" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenDropDown Data="@gemeindenArtenForGemeindeArt" TextProperty="Titel" ValueProperty="GemeindeArt" AllowClear=true
                              style="display: block; width: 100%" @bind-Value="@gemeinden.GemeindeArt" Name="GemeindeArt"
                               />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="L K Z1" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenDropDown Data="@lKZForLKZ" TextProperty="TitelEnglisch" ValueProperty="LKZ1" AllowClear=true
                              style="display: block; width: 100%" @bind-Value="@gemeinden.LKZ" Name="LKZ"
                               />
                  </ChildContent>
                </RadzenFormField>
                <RadzenFormField Text="Organisationen" Variant="Variant.Text">
                      <ChildContent>
                        <RadzenDropDown Data="@organisationenForOrganisationCode" TextProperty="Info" ValueProperty="OrganisationCode" AllowClear=true
                              style="display: block; width: 100%" @bind-Value="@gemeinden.OrganisationCode" Name="OrganisationCode"
                               />
                  </ChildContent>
                </RadzenFormField>
              </RadzenStack>
              <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Variant="Variant.Flat" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick" Visible=false />
              </RadzenStack>
            </RadzenTemplateForm>


                        </RadzenColumn>

                        <RadzenColumn Size="4" Style="margin-left: -16px; margin-top: 16px" >
                            <RadzenFieldset Text="Infobox" Style="height: 700px">
                            <RadzenTabs SelectedIndex="0"
                                RenderMode="Radzen.TabRenderMode.Client" Style="margin-top: -24px; margin-left: -14px">
                                <Tabs>
                                    <RadzenTabsItem Text="Kontakte"></RadzenTabsItem>
                                    <RadzenTabsItem Text="Bankverbindungen"></RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        </RadzenFieldset>
                        </RadzenColumn>
                    </RadzenRow>


                }

            </RadzenTabsItem>
            <RadzenTabsItem Text="Mitarbeiter"></RadzenTabsItem>
            <RadzenTabsItem Text="Statistik"></RadzenTabsItem>
        </Tabs>

    </RadzenTabs>
</RadzenStack>


  <RadzenTabs Style="padding-left: 5px" SelectedIndex="0" RenderMode="Radzen.TabRenderMode.Client">
    <Tabs>
      <RadzenTabsItem Text="Allgemein">
        <RadzenRow>
        <RadzenColumn SizeMD=12>
          <RadzenCard style="height: 1000px; margin-top: 0px; max-height: 1000px" Variant="Radzen.Variant.Filled">
            <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save Gemeinden</RadzenAlert>
        </RadzenCard>
        </RadzenColumn>
   </RadzenRow>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Liste">
          <RadzenCard style="height: 100%">
            <RadzenDataGrid @ref="gridGemeinden" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="false" AllowSorting="true" Data="@tabGemeinden" TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" RowSelect="@EditRow" AllowVirtualization="true" Style="height: 500px" Filter="@DataGrid0Filter" FilterCleared="@DataGrid0FilterCleared">
            <Columns>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Titel" Title="Titel">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="ZuGemeindeNr" Title="Zu Gemeinde Nr">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Kürzel" Title="Kürzel">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Straße" Title="Straße">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="PLZ" Title="P L Z">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Ort" Title="Ort">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Telefon" Title="Telefon">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="EMail" Title="E Mail">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Internet" Title="Internet">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="GegründetAm" Title="Gegründet Am">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="AufgelöstAm" Title="Aufgelöst Am">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="AuflösungInfo" Title="Auflösung Info">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Bezirk" Title="Bezirk">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Großbezirk" Title="Großbezirk">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Sprachen" Title="Sprachen">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Wegbeschreibung" Title="Wegbeschreibung">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="GesprächsleitervorbereitungTag" Title="Gesprächsleitervorbereitung Tag">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="GesprächsleitervorbereitungZeit" Title="Gesprächsleitervorbereitung Zeit">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="GottesdienstZeit" Title="Gottesdienst Zeit">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="AndachtTag" Title="Andacht Tag">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="AndachtZeit" Title="Andacht Zeit">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Info" Title="Info">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Bundeslaender.Titel" Title="Bundeslaender">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="GemeindenArten.Titel" Title="Gemeinden Arten">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="LKZ1.TitelEnglisch" Title="L K Z1">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="STAVerwaltung.Models.dbSTAVerwaltung.Gemeinden" Property="Organisationen.Info" Title="Organisationen">
                </RadzenDataGridColumn>
            </Columns>

            </RadzenDataGrid>
            <RadzenTextBox Value="@strCountGemeinden"></RadzenTextBox>
          </RadzenCard>        


        </RadzenTabsItem>


        <RadzenTabsItem Text="Personen"></RadzenTabsItem>
        <RadzenTabsItem Text="Gebiete"></RadzenTabsItem>
        <RadzenTabsItem Text="Dokumente"></RadzenTabsItem>
        <RadzenTabsItem Text="Statistik"></RadzenTabsItem>
    </Tabs>
</RadzenTabs>
