@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout Style="grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
    <!-- Kopfzeile -->
    <RadzenHeader Style="height: 48px">
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="5" Style="height: 48px">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Start"
                    AlignItems="Radzen.AlignItems.Center">
                    <RadzenButton Style="width: 48px; height: 48px; font-size: 24px; padding: 0px" Click="@ButtonSidebarLeftClick"
                       >
                        <RadzenIcon Icon="menu" Style="font-size: 24px"></RadzenIcon>
                    </RadzenButton>
                        <RadzenButton Style="height: 48px; font-size: 24px; padding: 0px; padding-left: 16px; padding-right: 16px" Click="@ImageSTAVerwaltungClick">
                        <ChildContent>
                                       <RadzenImage Path="images\Schriftzug STA-Verwaltung klein - weis.png"
                        Style="height: 32px"></RadzenImage>  
                        </ChildContent>
                    </RadzenButton>

                  
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal"
                    JustifyContent="JustifyContent.End">
                    <RadzenButton Style="width: 48px; height: 48px; font-size: 24px; padding: 0px" IsBusy="false"
                        Click="@ButtonAufgabenClick">
                        <RadzenIcon Icon="notifications" Style="font-size: 24px"></RadzenIcon>
                    </RadzenButton>
                    <RadzenButton
                        Style="height: 48px; font-size: 24px; padding: 0px" Click="@ButtonSidebarRightClick">
                        <ChildContent>
                            <RadzenLabel Text="@Security.User?.Name"
                                Style="font-size: 14px; font-weight: normal; margin-left: 16px" />
                            <RadzenImage Path="images\KeinBildPerson.png"
                                Style="width: 32px; height: 32px; border-radius: 50%; margin-left: 8px; margin-right: 8px">
                            </RadzenImage>
                            <RadzenIcon Icon="expand_more" Style="font-size: 24px; margin-right: 16px"></RadzenIcon>
                        </ChildContent>
                    </RadzenButton>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>

    <!-- Sidebar links -->
    <RadzenSidebar @bind-Expanded="@leftSidebarExpanded" style="position: relative"  Responsive="false">

       <RadzenTabs Style="margin-top: 6px">
            <Tabs>
                <RadzenTabsItem Text="Auswahl">
        <RadzenPanelMenu Style="font-weight: normal; padding-left: 3px; padding-right: 3px" Click="@PanelMenuClick">
            <RadzenPanelMenuItem Text="Dashboard" Path="/" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Personen" Path="Personen" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Gemeinden" Path="Gemeinden" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="Vereinigungen" Text="Vereinigungen" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Verbände" Path="Verbände" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Institutionen" Path="Institutionen" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Kategorien" Path="Kategorien" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Ämter" Path="Ämter" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Quartalsberichte" Path="Quartalsberichte" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Veranstaltungen" Path="Veranstaltungen" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Konferenzen" Path="Konferenzen" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Mitarbeiter" Path="Mitarbeiter" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Dienstbericht" Path="Dienstbericht" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Verträge" Path="Verträge" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Filter" Path="Filter" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Statistik" Path="Statistik" Icon="link"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Einstellungen" Icon="settings">
                <RadzenPanelMenuItem Text="Benutzer" Path="add-application-user" Icon="supervisor_account"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Stammdaten" Path="Stammdaten" Icon="backup_table"> </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Duplikate" Path="Duplikate" Icon="read_more"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Hilfe"></RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
        
        <!-- Sidebar links Fußzeile -->
        <div style="position: absolute; left: 0px; bottom: 0px; width: 100%">
            <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6">
                <RadzenText Text="Version 1.7.3" TextStyle="Radzen.Blazor.TextStyle.Caption"
                    style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P"
                    TextAlign="Radzen.TextAlign.Center" />
                <RadzenText Text="Powered by PITapp" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0"
                    style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P"
                    TextAlign="Radzen.TextAlign.Center" />
            </RadzenStack>
        </div>
    </RadzenSidebar>

    <!-- Body -->
    <RadzenBody Style="padding: 0px">
        <RadzenRow Style="padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; margin: 0px; padding: 0px">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>

    <!-- Sidebar rechts -->
    <RadzenSidebar @bind-Expanded="@rightSidebarExpanded" Style="width: 300px; grid-area: rz-right-sidebar;" Responsive="false">
        <RadzenTabs Style="margin-top: 6px">
            <Tabs>
                <RadzenTabsItem Text="Einstellungen">
        <RadzenStack Orientation="Radzen.Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem"
            Class="rz-p-4">
            <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenLabel Text="E-Mail:" />
                <RadzenLabel Text="@Security.User?.Email" />
            </RadzenStack>
            <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="Radzen.JustifyContent.SpaceBetween">
                <RadzenLabel Text="Menü beim öffnen anzeigen:" />
                <RadzenSwitch @bind-Value="MenüBeimÖffnenAnzeigen" />
            </RadzenStack>
            <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="Radzen.JustifyContent.SpaceBetween">
                <RadzenLabel Text="Menü bei Auswahl schließen:" />
                <RadzenSwitch @bind-Value="MenüNachAuswahlSchließen" />
            </RadzenStack>
        </RadzenStack>

        <RadzenPanelMenu Style="font-weight: normal; padding-left: 3px; padding-right: 3px; margin-top: 32px">
            <RadzenPanelMenuItem Text="Meine Einstellungen" Path="MeineEinstellungen" Icon="settings_applications" />
            <RadzenPanelMenuItem Text="Lernvideos" Path="Lernvideos" Icon="video_library" />
            <RadzenPanelMenuItem Text="Kennwort ändern" Path="KennwortÄndern" Icon="lock_open"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Abmelden" Icon="power_settings_new" Click="@PanelMenuAbmeldenClick"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
                
                </RadzenTabsItem>
                <RadzenTabsItem Text="Aufgaben"></RadzenTabsItem>
                <RadzenTabsItem Text="Links"></RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenSidebar>
</RadzenLayout>

@code {
    // Setze sidebarExpanded während der Bearbetung auf "true", damit du die Sidebar siehst und bearbeiten kannst!
    bool leftSidebarExpanded = true;
    bool rightSidebarExpanded = false;

    bool MenüBeimÖffnenAnzeigen = true;
    bool MenüNachAuswahlSchließen = false;
}