@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout Style="grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
    <!-- Kopfzeile -->
    <RadzenHeader Style="height: 48px">
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="5" Style="height: 48px">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.Start"
                    AlignItems="Radzen.AlignItems.Center">
                    <RadzenButton Style="width: 48px; height: 48px; font-size: 24px; padding: 0px"
                        Click="@(() => leftSidebarExpanded = !leftSidebarExpanded)">
                        <RadzenIcon Icon="menu" Style="font-size: 24px"></RadzenIcon>
                    </RadzenButton>
                    <RadzenImage Path="images\Schriftzug STA-Verwaltung klein.png"
                        Style="height: 32px; margin-left: 16px"></RadzenImage>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal"
                    JustifyContent="JustifyContent.End">
                    <RadzenButton Click="@ButtonDashboardClick"
                        Style="width: 48px; height: 48px; font-size: 24px; padding: 0px">
                        <RadzenIcon Icon="dashboard" Style="font-size: 24px"></RadzenIcon>
                    </RadzenButton>
                    <RadzenButton Style="width: 48px; height: 48px; font-size: 24px; padding: 0px" IsBusy="false"
                        Click="@ButtonAufgabenClick">
                        <RadzenIcon Icon="notifications" Style="font-size: 24px"></RadzenIcon>
                    </RadzenButton>
                    <RadzenButton Click="@(() => rightSidebarExpanded = !rightSidebarExpanded)"
                        Style="height: 48px; font-size: 24px; padding: 0px">
                        <ChildContent>
                            <RadzenLabel Text="@Security.User?.Name"
                                Style="font-size: 14px; font-weight: normal; margin-left: 16px" />
                            <RadzenImage Path="images\KeinBildPerson.png"
                                Style="width: 32px; height: 32px; border-radius: 50%; margin-left: 8px; margin-right: 8px">
                            </RadzenImage>
                            <RadzenIcon Icon="expand_more" Style="font-size: 24px; margin-right: 16px"></RadzenIcon>
                        </ChildContent>
                    </RadzenButton>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>

    <!-- Sidebar links -->
    <RadzenSidebar @bind-Expanded="@leftSidebarExpanded" style="position: relative"  Responsive="false">
        <RadzenPanelMenu Style="font-weight: normal; padding-left: 3px; padding-right: 3px; margin-top: 16px" Click="@PanelMenuClick">
            <RadzenPanelMenuItem Text="@Security.User.Name" Style="font-size: 12px" Icon="account_circle">
                <RadzenPanelMenuItem Text="Meine Profil" Icon="how_to_reg"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Nachrichten" Icon="message"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Abmelden" Icon="power_settings_new"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Dashboard" Path="/" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Personen" Path="personen" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Gemeinden" Path="gemeinden" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Path="Vereinigungen" Text="Vereinigungen" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Verbände" Path="verbände" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Institutionen" Path="institutionen" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Kategorien" Path="kategorien" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Ämter" Path="ämter" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Quartalsberichte" Path="Quartalsberichte" Icon="arrow_right">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Veranstaltungen" Path="Veranstaltungen" Icon="arrow_right">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Konferenzen" Path="Konferenzen" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Mitarbeiter" Path="Mitarbeiter" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Dienstbericht" Path="dienstbericht" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Verträge" Path="verträge" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Filter" Path="filter" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Statistik" Path="statistik" Icon="arrow_right"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Einstellungen" Icon="settings">
                <RadzenPanelMenuItem Text="Benutzer" Path="benutzer" Icon="supervisor_account"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Stammdaten" Path="stammdaten" Icon="backup_table"> </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Duplikate" Path="duplikate" Icon="read_more"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
        <!-- Sidebar links Fußzeile -->
        <div style="position: absolute; left: 0px; bottom: 0px; width: 100%">
            <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6"
                Style="padding: var(--rz-panel-menu-item-padding);">
                <RadzenText Text="STA-Verwaltung · Version 1.7.3" TextStyle="Radzen.Blazor.TextStyle.Caption"
                    style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P"
                    TextAlign="Radzen.TextAlign.Center" />
                <RadzenText Text="Powered by PITapp" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0"
                    style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P"
                    TextAlign="Radzen.TextAlign.Center" />
            </RadzenStack>
        </div>
    </RadzenSidebar>

    <!-- Body -->
    <RadzenBody Style="padding: 0px">
        <RadzenRow Style="padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; margin: 0px; padding: 0px">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>

    <!-- Sidebar rechts -->
    <RadzenSidebar @bind-Expanded="@rightSidebarExpanded" Style="width: 300px; grid-area: rz-right-sidebar;" Responsive="false">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Einstellungen">
        <RadzenStack Orientation="Radzen.Orientation.Vertical" JustifyContent="JustifyContent.Start" Gap="1rem"
            Class="rz-p-4">
            <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                <RadzenLabel Text="E-Mail:" />
                <RadzenLabel Text="@Security.User?.Email" />
            </RadzenStack>
            <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="Radzen.JustifyContent.SpaceBetween">
                <RadzenLabel Text="Menü beim öffnen anzeigen:" />
                <RadzenSwitch @bind-Value="MenüBeimÖffnenAnzeigen" />
            </RadzenStack>
            <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="Radzen.JustifyContent.SpaceBetween">
                <RadzenLabel Text="Menü bei Auswahl schließen:" />
                <RadzenSwitch @bind-Value="MenüNachAuswahlSchließen" />
            </RadzenStack>
        </RadzenStack>

        <RadzenPanelMenu Style="font-weight: normal; padding-left: 3px; padding-right: 3px; margin-top: 32px">
            <RadzenPanelMenuItem Text="Meine Einstellungen" Path="MeineEinstellungen" Icon="settings_applications" />
            <RadzenPanelMenuItem Text="Lernvideos" Path="Lernvideos" Icon="video_library" />
            <RadzenPanelMenuItem Text="Kennwort ändern" Path="KennwortÄndern" Icon="lock_open"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Abmelden" Icon="power_settings_new" Click="@PanelMenuIAbmeldenClick"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
                
                </RadzenTabsItem>
                <RadzenTabsItem Text="Aufgaben"></RadzenTabsItem>
                <RadzenTabsItem Text="Hilfe"></RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenSidebar>
</RadzenLayout>

@code {
    // Setze sidebarExpanded während der Bearbetung auf "true", damit du die Sidebar siehst und bearbeiten kannst!
    bool leftSidebarExpanded = true;
    bool rightSidebarExpanded = false;

    bool MenüBeimÖffnenAnzeigen = true;
    bool MenüNachAuswahlSchließen = false;
}